
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="index.html" class="logo">
                    <img src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" alt="logo">
                </a>
            </div>
            <div class="col-6 offset-md-3">
          <nav class="navbar">
               <ul>
                <li><a href="javascript:;">HOME</a></li>
                <li><a href="javascript:;">ABOUT</a></li>
                <li><a href="javascript:;">GALLARY</a></li>
                <li><a href="javascript:;">SERVICES</a></li>
                <li><a href="javascript:;">CONTACT</a></li>
               </ul>
          </nav>
            </div>
        </div>
    </div>
</header>